@model Mvc_Ogrenci_Kayıt.Models.Table

@{
    ViewBag.Title = "Details";
}

<h2>Öğrenci Detay</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OgrenciAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrenciSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrenciMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciMail)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.OgrenciFotograf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciFotograf)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.OgrenciAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciAdres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.OgrenciID_ }) |
    @Html.ActionLink("Öğrenci Listesi", "Index")
</p>

<dt>
    <img src="@Model.OgrenciFotograf" width="400" height="400"/>
</dt>